.damage-number-feedback {
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    z-index: 10;

    transition-timing-function: linear;

    transition: all 1s;
    color: hsla(0,0%,90%,1);
    text-shadow: -1px 1px 3px #000, 1px 1px 3px #000, 1px -1px 3px #000, -1px -1px 3px #000, 0px 1px 3px #000, 1px 0px 3px #000, 0px -1px 3px #000, -1px 0px 3px #000;

    &.is-heal {
        color: #74a263;
        text-shadow: -1px 1px 3px #093a00, 1px 1px 3px #093a00, 1px -1px 3px #093a00, -1px -1px 3px #093a00, 0px 1px 3px #093a00, 1px 0px 3px #093a00, 0px -1px 3px #093a00, -1px 0px 3px #093a00;
    }
}

.player-side {
    .damage-number-feedback {
        left: calc(50% - 7px);
        bottom: 70px;
    }
}

.opponent-side {
    .damage-number-feedback {
        right: calc(50% - 7px);
        top: 70px;
    }
}