.deciding-phase-countdown {
    bottom: calc(50% - 10px - 3px);
    position: absolute;
    height: 20px;
    background-color: white;
    border: 3px solid black;
    width: calc(86% - 6px);
    left: calc(7%);
    .filling-bar {
        background-color: gray;
        transition: width 0.3s;
    }
}

